name: wheels

on:
  pull_request:
    paths:
      - '.github/workflows/wheels.yml'
  push:
    branches:
      - main

jobs:
  wheels:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-2022
          - macos-13
          - macos-14

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set source timestamp
        run: |
          echo SOURCE_DATE_EPOCH=$(git log -n1 --pretty=%ct) >> "$GITHUB_ENV"

      - uses: pypa/cibuildwheel@v2.23.3
        env:
          CIBW_BUILD: "cp314-*"
          CIBW_BUILD_VERBOSITY: "1"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
